.toolbar_name {
  font-family: Verdana, serif;
  font-size: 32px;
}

.main_container {
  height: 100%;
}

.main_nav {
  width: 200px;
}

.main_nav_active {
  background-color: #4658c11f;
}

.toolbar_spacer {
  flex: 2 2 auto;
}

.main_content {
  height: 100%;
}
