.category_table {
  width: 100%;
}

.new_category_button {
  float: right;
  padding: 20px;
}

.category_table_container {
  min-height: 800px;
}

.category_table_main_container {
  min-height: 900px;
}
