<div class="number-card-title">
  <h1>General Overview</h1>
</div>
<div class="number-card-container">
  <app-number-card [id]="'programs_number_card'"
                   [count]="1"
                   [title]="'Programs'">
  </app-number-card>
  <app-number-card [id]="'projects_number_card'"
                   [count]="1"
                   [title]="'Projects'">
  </app-number-card>
  <app-number-card [id]="'activities_number_card'"
                   [count]="5"
                   [title]="'Activities'">
  </app-number-card>
</div>
<div class="number-card-container" style="margin-top: 100px">
  <app-progress-overview [done]="0" [inProgress]="100" [notDone]="0">
  </app-progress-overview>
  <app-progress-overview [done]="0" [inProgress]="100" [notDone]="0">
  </app-progress-overview>
  <app-progress-overview [done]="35" [inProgress]="25" [notDone]="40">
  </app-progress-overview>
</div>

