<div class="number-card-title">
  <h1>General Overview</h1>
</div>
<div class="number-card-container">
  <app-number-card [id]="'programs_number_card'"
                   [count]="0"
                   [title]="'Programs'">
  </app-number-card>
  <app-number-card [id]="'projects_number_card'"
                   [count]="0"
                   [title]="'Projects'">
  </app-number-card>
  <app-number-card [id]="'activities_number_card'"
                   [count]="0"
                   [title]="'Activities'">
  </app-number-card>
</div>

