<div class="login_container">
  <div class="login_form">
    <h1>Easy Investment</h1>
    <h3>Please Login</h3>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput required placeholder="Username" name='username'
               [formControl]="userFormControl"
               [(ngModel)]="username">
        <mat-error *ngIf="pswFormControl.hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" matInput required
               placeholder="Password" name='password'
               [(ngModel)]="password"
               [formControl]="pswFormControl">
        <mat-error *ngIf="pswFormControl.hasError('invalid')">
          Username or password is incorrect.
        </mat-error>
        <mat-error *ngIf="pswFormControl.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-flat-button color="primary" (click)="login()">Login</button>
      </div>

    </form>
  </div>
</div>
