table {
  width: 100%;
}
.form-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.form_table_container {
  min-height: 700px;
}

.form_table_main_container {
  min-height: 800px;
}


